# Ignore everything not necessary
*

# Yours truly
!.gitignore

# zsh config
!/zsh
!/zsh/**

# nvim config
!/nvim
!/nvim/**
/nvim/lua/.luarc.json
nvim/lazy-lock.json

# ideavim config
!.ideavimrc

# tmux config
!/tmux
!/tmux/**

# ghostty config
!/ghostty
!/ghostty/**

# Mac specific
.DS_Store
